Repository c9s/bbgo, changes with the owners that CODEOWNERS names for each.
All owners: @kbearXD, @gx578007, @narumiruna, @c9s

✨ feat(indicatorv2): Keltner channel with multiple multipliers
  pkg/indicator/v2/keltner.go
Owners: none

✨ feat(indicatorv2): add TTM Squeeze indicator
  pkg/indicator/v2/ttmsqueeze.go
  pkg/indicator/v2/ttmsqueeze_callbacks.go
Owners: none

🧪 test(indicatorv2): add unit tests for TTM Squeeze indicator
  pkg/indicator/v2/ttmsqueeze_test.go
Owners: none

✨ feat(chart): add histogram and dot chart visualizations
  pkg/chart/v1/column_series.go
  pkg/chart/v1/dot_series.go
  pkg/chart/v1/panel.go
Owners: none

🔧 fix(chart): correct typo in drawAtrChart function name
  pkg/cmd/chart.go
Owners: none

✨ feat(indicatorv2): add FixedWindowVP method to IndicatorSet for volume profile stream
  pkg/bbgo/indicator_set.go
Owners: @c9s

✨ feat(chart): enhance column rendering with adjustable gaps and improved boundary handling
  pkg/chart/v1/column_series.go
  pkg/chart/v1/panel.go
Owners: none

✨ feat(chart): add TTM Squeeze chart visualization
  pkg/chart/v1/panel.go
  pkg/cmd/chart.go
Owners: none

🔧 fix(chart): correct typo in drawAtrChart function call
  pkg/cmd/chart.go
Owners: none

📚 doc(strategy): add README for MTF TTM Squeeze Momentum Strategy
  pkg/strategy/ttmsqueeze/README.md
Owners: none

✨ feat(strategy): MTF TTM Squeeze strategy with state management and TWAP execution
  pkg/bbgo/indicator_set.go
  pkg/cmd/strategy/builtin.go
  pkg/strategy/ttmsqueeze/entry.go
  pkg/strategy/ttmsqueeze/exit.go
  pkg/strategy/ttmsqueeze/monitor_worker.go
  pkg/strategy/ttmsqueeze/risk_worker.go
  pkg/strategy/ttmsqueeze/state.go
  pkg/strategy/ttmsqueeze/statemachine.go
  pkg/strategy/ttmsqueeze/statemachine_callbacks.go
  pkg/strategy/ttmsqueeze/stats_worker.go
  pkg/strategy/ttmsqueeze/strategy.go
  pkg/strategy/ttmsqueeze/utils.go
Owners: @c9s

🔧 fix(backtest): export of trades to TSV file
  pkg/cmd/backtest.go
  pkg/types/order.go
Owners: @c9s

Squashed commit of the following:
  .gitignore
  doc/topics/back-testing.md
  pkg/backtest/exchange.go
  pkg/bbgo/config.go
  pkg/bbgo/environment.go
  pkg/cmd/backtest.go
  pkg/cmd/pnl.go
  pkg/datasource/csvsource/csv_kline_decoder.go
  pkg/datasource/csvsource/csv_kline_reader.go
  pkg/datasource/csvsource/csv_kline_reader_test.go
  pkg/datasource/csvsource/csv_tick_converter.go
  pkg/datasource/csvsource/csv_tick_decoder.go
  pkg/datasource/csvsource/csv_tick_reader.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
  pkg/datasource/csvsource/read_klines.go
  pkg/datasource/csvsource/read_klines_test.go
  pkg/datasource/csvsource/read_ticks.go
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/testdata/binance/BTCUSDT-1h-2023-11-18.csv
  pkg/datasource/csvsource/testdata/binance/FXSUSDT-ticks-2023-10-29.csv
  pkg/datasource/csvsource/testdata/bybit/FXSUSDT-ticks-2023-10-10.csv
  pkg/datasource/csvsource/testdata/okex/BTC-USDT-aggtrades-2023-11-18.csv
  pkg/datasource/csvsource/tick_downloader.go
  pkg/datasource/csvsource/tick_downloader_test.go
  pkg/datasource/csvsource/types.go
  pkg/datasource/csvsource/write_klines.go
  pkg/exchange/kucoin/convert.go
  pkg/exchange/kucoin/exchange.go
  pkg/exchange/kucoin/generate_symbol_map.go
  pkg/exchange/kucoin/symbols.go
  pkg/indicator/v2/testdata/BTCUSDT-1m-2022-05-06.csv
  pkg/indicator/v2/volume_profile.go
  pkg/indicator/v2/volume_profile_test.go
  pkg/service/backtest_csv.go
  pkg/service/backtest_db.go
  pkg/service/backtest_sql_test.go
  pkg/strategy/grid2/backtest_test.go
  pkg/types/interval.go
  pkg/types/interval_test.go
  pkg/types/time.go
Owners: @c9s, @kbearXD, @gx578007

✨ feat(orderbook): add Use method to StreamOrderBook for component interaction
  pkg/types/orderbook.go
Owners: @c9s

✨ feat(orderbook): add StreamBookHealthCheck for monitoring StreamOrderBook health
  pkg/types/component/orderbook.go
  pkg/types/orderbook.go
Owners: @c9s

🧪 test(orderbook): add tests for StreamBookHealthCheck
  pkg/types/component/orderbook_test.go
Owners: @c9s

🔄 refactor(orderbook): rename checkInterval
  pkg/types/component/orderbook.go
Owners: @c9s

✨ feat(orderbook): add logging for StreamBookHealthCheck
  pkg/types/component/orderbook.go
Owners: @c9s

fix dual futures position side
  pkg/exchange/binance/futures.go
Owners: none

✨ feat(orderbook): add logging for StreamBookHealthCheck initialization
  pkg/types/component/orderbook.go
Owners: @c9s

✨ feat(orderbook): add session name to StreamBookHealthCheck logging
  pkg/types/component/orderbook.go
  pkg/types/component/orderbook_test.go
Owners: @c9s

fix(grid2): use `QueryTicker` for the last price
  pkg/strategy/grid2/strategy.go
Owners: @kbearXD, @gx578007

fix(backtest): `Prepare` method for backtest exchange
  pkg/backtest/exchange.go
  pkg/backtest/matching.go
  pkg/cmd/backtest.go
Owners: none

🔧 fix(backtest): fix filled orders collection
  pkg/cmd/backtest.go
Owners: none

🔄 refactor(grid2): improve grid order locking mechanism
  pkg/strategy/grid2/strategy.go
Owners: @kbearXD, @gx578007

chore(grid2): remove `grid_recover.go` replaced by `recover.go`
  pkg/strategy/grid2/grid_recover.go
  pkg/strategy/grid2/grid_recover_test.go
  pkg/strategy/grid2/recover_test.go
  pkg/strategy/grid2/strategy.go
Owners: @kbearXD, @gx578007

🔄 refactor(grid2): move debug logging methods to dedicated file for readability
  pkg/strategy/grid2/debug.go
  pkg/strategy/grid2/strategy.go
Owners: @kbearXD, @gx578007

fix(xmaker): fix flaky TestHedgeMarket_startAndHedge by using large hedge interval
  pkg/strategy/xmaker/hedgemarket_test.go
Owners: none

implemented stream interface
  pkg/exchange/hyperliquid/convert.go
  pkg/exchange/hyperliquid/exchange.go
  pkg/exchange/hyperliquid/futures.go
  pkg/exchange/hyperliquid/hyperapi/client.go
  pkg/exchange/hyperliquid/hyperapi/client_test.go
  pkg/exchange/hyperliquid/parse.go
  pkg/exchange/hyperliquid/stream.go
  pkg/exchange/hyperliquid/stream_test.go
Owners: none

add more trade stats
  pkg/backtest/report.go
  pkg/cmd/backtest.go
  pkg/datatype/floats/slice.go
  pkg/types/trade_stat.go
  pkg/types/trade_stat_test.go
  pkg/types/trade_stats.go
Owners: @c9s

🔧 fix(backtest): change TradeCount and RoundTurnCount types to int
  pkg/backtest/report.go
  pkg/cmd/backtest.go
Owners: none

🔧 fix(types): fix GetTimeInMarket time calculation
  pkg/types/trade_stats.go
Owners: @c9s

fix(max): add exchange field for the kline convert
  pkg/exchange/max/convert.go
Owners: none

✨ feat(strategy): add support for writing strategy stats in tabular and JSON formats
  pkg/cmd/backtest.go
  pkg/strategy/common/strategy.go
Owners: none

✨ feat(grid2): export GridProfitStats as strategy stats
  pkg/strategy/grid2/profit_fixer.go
  pkg/strategy/grid2/profit_stats.go
  pkg/strategy/grid2/strategy.go
Owners: @kbearXD, @gx578007

🔧 fix(backtest): log warning instead of returning error on backtest exchange preparation failure
  pkg/cmd/backtest.go
Owners: none

🔧 fix(backtest): fix exchange parameter types in KLines methods
  pkg/backtest/exchange.go
  pkg/service/backtest_csv.go
  pkg/service/backtest_db.go
Owners: none

Squashed commit of the following:
  .gitignore
  doc/topics/back-testing.md
  pkg/backtest/exchange.go
  pkg/bbgo/config.go
  pkg/bbgo/environment.go
  pkg/cmd/backtest.go
  pkg/cmd/pnl.go
  pkg/datasource/csvsource/csv_kline_decoder.go
  pkg/datasource/csvsource/csv_kline_reader.go
  pkg/datasource/csvsource/csv_kline_reader_test.go
  pkg/datasource/csvsource/csv_tick_converter.go
  pkg/datasource/csvsource/csv_tick_decoder.go
  pkg/datasource/csvsource/csv_tick_reader.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
  pkg/datasource/csvsource/read_klines.go
  pkg/datasource/csvsource/read_klines_test.go
  pkg/datasource/csvsource/read_ticks.go
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/testdata/binance/BTCUSDT-1h-2023-11-18.csv
  pkg/datasource/csvsource/testdata/binance/FXSUSDT-ticks-2023-10-29.csv
  pkg/datasource/csvsource/testdata/bybit/FXSUSDT-ticks-2023-10-10.csv
  pkg/datasource/csvsource/testdata/okex/BTC-USDT-aggtrades-2023-11-18.csv
  pkg/datasource/csvsource/tick_downloader.go
  pkg/datasource/csvsource/tick_downloader_test.go
  pkg/datasource/csvsource/types.go
  pkg/datasource/csvsource/write_klines.go
  pkg/exchange/kucoin/convert.go
  pkg/exchange/kucoin/exchange.go
  pkg/exchange/kucoin/generate_symbol_map.go
  pkg/exchange/kucoin/symbols.go
  pkg/indicator/v2/testdata/BTCUSDT-1m-2022-05-06.csv
  pkg/indicator/v2/volume_profile.go
  pkg/indicator/v2/volume_profile_test.go
  pkg/service/backtest_csv.go
  pkg/service/backtest_db.go
  pkg/service/backtest_sql_test.go
  pkg/strategy/grid2/backtest_test.go
  pkg/types/interval.go
  pkg/types/interval_test.go
  pkg/types/time.go
Owners: @c9s, @kbearXD, @gx578007

🔧 fix(tests): update method calls to BacktestService
  pkg/service/backtest_sql_test.go
Owners: none

🔧 fix(volume_profile): fix sorting function compilation error
  pkg/indicator/v2/volume_profile.go
Owners: none

CODEOWNERS:

pkg/strategy/grid2 @kbearXD @gx578007
python @narumiruna
pkg/types @c9s
pkg/core @c9s
pkg/bbgo @c9s
