Repository c9s/bbgo, changes with the owners that CODEOWNERS names for each.
All owners: @kbearXD, @gx578007, @narumiruna, @c9s

CODEOWNERS:

pkg/strategy/grid2 @kbearXD @gx578007
python @narumiruna
pkg/types @c9s
pkg/core @c9s
pkg/bbgo @c9s

binanceapi: observe binance used weight
  pkg/exchange/binance/binanceapi/client.go
Owners: none

add more mock test
  pkg/exchange/hyperliquid/exchange_test.go
  pkg/testutil/auth.go
Owners: none

binanceapi: add uri label
  pkg/exchange/binance/binanceapi/client.go
Owners: none

binance: fix binance price precision conversion
  pkg/exchange/binance/convert.go
Owners: none

xpremium: add more logs when submitting orders
  pkg/strategy/xpremium/strategy.go
Owners: none

add quote precision field to types.Market
  pkg/exchange/binance/convert.go
  pkg/types/market.go
Owners: @c9s

xpremium: add quantity settings and refactor size calculation
  pkg/strategy/xpremium/strategy.go
  pkg/strategy/xpremium/strategy_test.go
Owners: none

✨ feat(strategy): add PositionTracker and position metrics for strategy monitoring
  pkg/strategy/common/metrics.go
Owners: none

✨ feat(xmaker): add PositionTracker for monitoring
  pkg/strategy/xmaker/strategy.go
Owners: none

upgrade github.com/adshao/go-binance/v2 to v2.6.1
  go.mod
  go.sum
Owners: none

binance: map symbol.QuotePrecision to price precision
  pkg/exchange/binance/convert.go
Owners: none

xpremium: add more logs
  pkg/exchange/binance/convert.go
  pkg/strategy/xpremium/strategy.go
Owners: none

all: fix market info cache
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/exchange/util.go
  pkg/strategy/xpremium/strategy.go
Owners: none

🔧 fix(profit_fixer): remove unused oriProfitStats parameter
  pkg/strategy/common/profit_fixer.go
  pkg/strategy/xdepthmaker/strategy.go
  pkg/strategy/xmaker/strategy.go
Owners: none

🔧 fix(profit_fixer): profit fix support for xdepthmaker
  pkg/strategy/xdepthmaker/strategy.go
Owners: none

🔧 fix(profit_fixer): add Enabled field
  pkg/strategy/common/profit_fixer.go
Owners: none

feat(metrics): switch to promauto and add unrealized PnL metrics
  pkg/types/position_metrics.go
Owners: @c9s

🔄 refactor(position): unrealized PnL metrics support for strategies
  pkg/strategy/liquiditymaker/strategy.go
  pkg/strategy/xmaker/strategy.go
  pkg/types/position.go
Owners: @c9s

xmaker: add debt quota check to prevent negative value
  pkg/strategy/xmaker/hedgemarket.go
Owners: none

maxapi: improve GET request parameter passing
  pkg/exchange/max/maxapi/get_account_request_requestgen.go
  pkg/exchange/max/maxapi/get_accounts_request_requestgen.go
  pkg/exchange/max/maxapi/get_vip_level_request_requestgen.go
  pkg/exchange/max/maxapi/get_withdraw_history_request_requestgen.go
  pkg/exchange/max/maxapi/public_test.go
  pkg/exchange/max/maxapi/restapi.go
  pkg/exchange/max/maxapi/reward_test.go
  pkg/exchange/max/maxapi/withdrawal_test.go
Owners: none

use testutil.IntegrationTestConfigured
  pkg/exchange/max/maxapi/account_test.go
Owners: none

maxapi: drop unused v2 api code
  pkg/exchange/max/maxapi/account.go
  pkg/exchange/max/maxapi/account_test.go
  pkg/exchange/max/maxapi/cancel_order_request.go
  pkg/exchange/max/maxapi/cancel_order_request_requestgen.go
  pkg/exchange/max/maxapi/create_order_request.go
  pkg/exchange/max/maxapi/create_order_request_requestgen.go
  pkg/exchange/max/maxapi/get_account_request_requestgen.go
  pkg/exchange/max/maxapi/get_accounts_request_requestgen.go
  pkg/exchange/max/maxapi/get_vip_level_request_requestgen.go
Owners: none

maxapi: drop unused v2 methods
  pkg/exchange/max/maxapi/public.go
  pkg/exchange/max/maxapi/public_test.go
Owners: none

xmaker: improve TestSyntheticHedge_MarketOrderHedge test
  pkg/strategy/xmaker/synthetichedge_test.go
Owners: none

max: add v3 reward types
  pkg/exchange/max/maxapi/v3/reward.go
Owners: none

max: split and move get reward request to files
  pkg/exchange/max/maxapi/get_rewards_of_type_request.go
  pkg/exchange/max/maxapi/get_rewards_of_type_request_requestgen.go
  pkg/exchange/max/maxapi/get_rewards_request.go
  pkg/exchange/max/maxapi/get_rewards_request_requestgen.go
  pkg/exchange/max/maxapi/reward.go
Owners: none

max: drop more legacy v2 api code
  examples/max-rewards/main.go
  pkg/exchange/max/exchange.go
  pkg/exchange/max/maxapi/account.go
  pkg/exchange/max/maxapi/get_markets_request.go
  pkg/exchange/max/maxapi/get_markets_request_requestgen.go
  pkg/exchange/max/maxapi/get_ticker_request.go
  pkg/exchange/max/maxapi/get_ticker_request_requestgen.go
  pkg/exchange/max/maxapi/get_tickers_request.go
  pkg/exchange/max/maxapi/get_tickers_request_requestgen.go
  pkg/exchange/max/maxapi/order.go
  pkg/exchange/max/maxapi/public.go
  pkg/exchange/max/maxapi/public_test.go
  pkg/exchange/max/maxapi/restapi.go
  pkg/exchange/max/maxapi/reward.go
  pkg/exchange/max/maxapi/trade.go
Owners: none

FIX: grid2 bot may stuck due to wirteLock and mu lock
  pkg/strategy/grid2/strategy.go
Owners: @kbearXD, @gx578007

max: add v3 rewards api
  pkg/exchange/max/maxapi/v3/get_rewards_request.go
  pkg/exchange/max/maxapi/v3/get_rewards_request_requestgen.go
  pkg/exchange/max/maxapi/v3/reward.go
  pkg/exchange/max/maxapi/v3/reward_test.go
Owners: none

max: drop unused v2 rewards api
  pkg/exchange/max/maxapi/get_rewards_of_type_request.go
  pkg/exchange/max/maxapi/get_rewards_of_type_request_requestgen.go
  pkg/exchange/max/maxapi/reward_test.go
Owners: none

max: connect new v3 rewards api
  pkg/exchange/max/convert.go
  pkg/exchange/max/exchange.go
Owners: none

binance: add more metrics tracking latency and req counter
  pkg/exchange/binance/binanceapi/client.go
Owners: none

types: add standard stream tests
  pkg/types/standardstream_test.go
  pkg/types/stream.go
Owners: @c9s

doc: add doc for standard stream
  doc/topics/standard-stream.md
Owners: none

🔄 refactor(service): remove unused scanRows functions for position and profit
  pkg/service/position.go
  pkg/service/profit.go
Owners: none

🔄 refactor(service): add context timeout support for database operations
  pkg/service/position.go
  pkg/service/profit.go
  pkg/strategy/common/profit_fixer.go
  pkg/strategy/common/profit_fixer_test.go
Owners: none

🔧 fix(profit_fixer): add logging for trade processing and record clearing
  pkg/strategy/common/profit_fixer.go
Owners: none

🔧 fix(position): resolve deadlock by locking mutex in UnrealizedProfit method
  pkg/types/position.go
Owners: @c9s

🧪 test(position): adding StrategyInstanceID and Strategy
  pkg/types/position_test.go
Owners: @c9s

drop webview command support
  cmd/bbgo-webview/main.go
Owners: none
