Repository c9s/bbgo, changes with the owners that CODEOWNERS names for each.
All owners: @kbearXD, @gx578007, @narumiruna, @c9s

bitfinex: convert websocket events into standard stream events
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
  pkg/exchange/bitfinex/convert.go
  pkg/exchange/bitfinex/stream.go
Owners: none

bitfinex: implement more interfaces
  pkg/exchange/bitfinex/exchange.go
Owners: none

bfxapi: improve order status parsing
  pkg/exchange/bitfinex/bfxapi/order.go
  pkg/exchange/bitfinex/bfxapi/order_test.go
Owners: none

bitfinex: improve data conversion
  pkg/exchange/bitfinex/convert.go
Owners: none

add bitfinex to the exchange factory
  pkg/exchange/factory.go
Owners: none

bitfinex: integrate NewStream
  pkg/exchange/bitfinex/exchange.go
Owners: none

bitfinex: implement QueryDepth method
  pkg/exchange/bitfinex/convert.go
  pkg/exchange/bitfinex/exchange.go
Owners: none

bitfinex: refactor book parsing and improve query depth and conversion
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
  pkg/exchange/bitfinex/convert.go
  pkg/exchange/bitfinex/stream.go
  pkg/exchange/bitfinex/stream_callbacks.go
Owners: none

FEATURE: new strategy dca3
  pkg/strategy/dca3/collector.go
  pkg/strategy/dca3/debug.go
  pkg/strategy/dca3/metrics.go
  pkg/strategy/dca3/open_position.go
  pkg/strategy/dca3/profit_stats.go
  pkg/strategy/dca3/recover.go
  pkg/strategy/dca3/statemachine.go
  pkg/strategy/dca3/strategy.go
  pkg/strategy/dca3/strategy_callbacks.go
  pkg/strategy/dca3/sync.go
  pkg/strategy/dca3/take_profit.go
  pkg/strategy/dca3/update_profit.go
Owners: none

add more test
  pkg/strategy/dca3/collector_test.go
  pkg/strategy/dca3/metrics.go
  pkg/strategy/dca3/profit_stats_test.go
  pkg/strategy/dca3/statemachine.go
  pkg/strategy/dca3/statemachine_test.go
  pkg/strategy/dca3/strategy.go
  pkg/strategy/dca3/sync.go
Owners: none

FIX: update profit stats need to make sure round is finished
  pkg/strategy/dca3/collector.go
  pkg/strategy/dca3/collector_test.go
  pkg/strategy/dca3/recover.go
  pkg/strategy/dca3/strategy.go
  pkg/strategy/dca3/update_profit.go
Owners: none

refactor
  pkg/strategy/dca3/collector.go
  pkg/strategy/dca3/debug.go
  pkg/strategy/dca3/open_position.go
  pkg/strategy/dca3/take_profit.go
  pkg/strategy/dca3/update_profit.go
Owners: none

FEAUTRE: validate the trade is in active orderbook
  pkg/bbgo/activeorderbook.go
  pkg/bbgo/exit_support_take_profit.go
  pkg/strategy/dca3/strategy.go
Owners: @c9s

FIX: make sure the position add open-position first then take-profit orders
  go.mod
  go.sum
  pkg/strategy/dca3/collector.go
  pkg/strategy/dca3/recover.go
  pkg/strategy/dca3/take_profit.go
Owners: none

bitfinex: define WalletTypes
  pkg/exchange/bitfinex/bfxapi/get_wallets_request.go
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
Owners: none

add more assertions
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
Owners: none

bitfinex: rename WalletResponse to Wallet
  pkg/exchange/bitfinex/bfxapi/get_wallets_request.go
  pkg/exchange/bitfinex/bfxapi/get_wallets_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
  pkg/exchange/bitfinex/stream.go
Owners: none

grid2: fix log format usage
  pkg/strategy/grid2/grid_recover.go
  pkg/strategy/grid2/strategy.go
Owners: @kbearXD, @gx578007

bitfinex: fix QueryMarket conversion
  pkg/exchange/bitfinex/bfxapi/get_pair_config_request.go
  pkg/exchange/bitfinex/convert.go
  pkg/exchange/bitfinex/convert_test.go
  pkg/exchange/bitfinex/exchange.go
  pkg/exchange/bitfinex/stream.go
Owners: none

bitfinex: regenerate requestgen files
  pkg/exchange/bitfinex/bfxapi/auto_renew_funding_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/cancel_funding_offer_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/cancel_order_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/client.go
  pkg/exchange/bitfinex/bfxapi/close_funding_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_active_funding_offers_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_book_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_candles_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_deposit_address_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_funding_info_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_movement_history_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_order_history_by_symbol_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_order_history_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_order_trades_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_ticker_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_tickers_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_trade_history_by_symbol_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_trade_history_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/retrieve_order_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/submit_funding_offer_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/submit_order_request.go
  pkg/exchange/bitfinex/bfxapi/submit_order_request_requestgen.go
Owners: none

sort book prices and add test Test_convertBookEntries
  pkg/exchange/bitfinex/convert.go
  pkg/exchange/bitfinex/convert_test.go
Owners: none

bitfinex: fix conversion issues
  pkg/exchange/bitfinex/bfxapi/get_funding_trade_history_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/get_order_history_by_symbol_request.go
  pkg/exchange/bitfinex/bfxapi/get_ticker_request.go
  pkg/exchange/bitfinex/bfxapi/retrieve_order_by_symbol_request.go
  pkg/exchange/bitfinex/bfxapi/retrieve_order_by_symbol_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/retrieve_order_request.go
  pkg/exchange/bitfinex/convert.go
  pkg/exchange/bitfinex/exchange.go
  pkg/exchange/bitfinex/exchange_test.go
  pkg/exchange/bitfinex/testdata/TestExchange_submitOrderAndCancel.json
  pkg/testing/httptesting/transport.go
  pkg/types/market.go
  pkg/types/ticker.go
Owners: @c9s

🔧 fix(xalign): cbd alert nil check on slack alert
  pkg/strategy/xalign/alert_cbd.go
Owners: none

🔧 fix(xnav): add check to prevent division by zero
  pkg/strategy/xnav/strategy.go
Owners: none

xalign: fix date string calculation
  pkg/strategy/xalign/alert_cbd.go
Owners: none

xmaker: check and handle eof error
  pkg/exchange/max/exchange.go
Owners: none

xalign: add more settings check
  pkg/strategy/xalign/strategy.go
Owners: none

max: fix recover error return value
  pkg/exchange/max/exchange.go
Owners: none

🔧 patch(max): EOF recovery
  pkg/exchange/max/exchange.go
Owners: none

🔧 fix(xalign): ensure notify date is truncated to the start of the day
  pkg/strategy/xalign/alert_cbd.go
Owners: none

return nil error for 404
  pkg/exchange/max/exchange.go
Owners: none

🔧 fix(max): update error handling for recoverOrder
  pkg/exchange/max/exchange.go
Owners: none

improve batch place orders
  pkg/bbgo/order_execution.go
  pkg/exchange/binance/exchange.go
  pkg/exchange/okex/stream.go
Owners: @c9s

bitfinex: refactor bfxapi event parsing and update names for consistent
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
  pkg/exchange/bitfinex/stream.go
  pkg/exchange/bitfinex/stream_callbacks.go
Owners: none

refactor stream callbacks and data conversion
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
  pkg/exchange/bitfinex/stream.go
  pkg/exchange/bitfinex/stream_callbacks.go
Owners: none

bitfinex: convert book snapshot and book update event, refactor candle event
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/convert.go
  pkg/exchange/bitfinex/exchange.go
  pkg/exchange/bitfinex/stream.go
Owners: none

skip test for dnum
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
Owners: none

bitfinex: clean up and update MarketTradeEvent structure
  pkg/exchange/bitfinex/bfxapi/funding.go
  pkg/exchange/bitfinex/bfxapi/get_public_trade_history_by_symbol_request.go
  pkg/exchange/bitfinex/bfxapi/get_public_trade_history_by_symbol_request_requestgen.go
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
  pkg/exchange/bitfinex/stream.go
Owners: none

bitfinex: store channel responses so that we can get the key
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
Owners: none

bitfinex: add more public trade message parsing tests
  pkg/exchange/bitfinex/bfxapi/websocket.go
  pkg/exchange/bitfinex/bfxapi/websocket_test.go
Owners: none

CODEOWNERS:

pkg/strategy/grid2 @kbearXD @gx578007
python @narumiruna
pkg/types @c9s
pkg/core @c9s
pkg/bbgo @c9s
