Repository c9s/bbgo, changes with the owners that CODEOWNERS names for each.
All owners: @kbearXD, @gx578007, @narumiruna, @c9s

CODEOWNERS:

pkg/strategy/grid2 @kbearXD @gx578007
python @narumiruna
pkg/types @c9s
pkg/core @c9s
pkg/bbgo @c9s

xpremium: add pivot stop price validation
  pkg/strategy/xpremium/strategy.go
Owners: none

xpremium: improve stop price finding
  pkg/indicator/v2/klines.go
  pkg/strategy/xpremium/strategy.go
Owners: none

bbgo: skip publicOnly sessions when aggregating balances
  config/xpremium.yaml
  pkg/bbgo/session.go
Owners: @c9s

bbgo: return nil slice for FindPossibleAssetSymbols when session is publicOnly
  pkg/bbgo/session.go
Owners: @c9s

bbgo: add public only protection
  pkg/bbgo/session.go
Owners: @c9s

xpremium: add warning
  pkg/strategy/xpremium/strategy.go
Owners: none

fix xpremium auth checking
  pkg/strategy/xpremium/strategy.go
Owners: none

xpremium: load open orders when restart
  pkg/strategy/xpremium/strategy.go
Owners: none

types: add mutex to position Reset()
  pkg/types/position.go
Owners: @c9s

xpremium: add metrics
  pkg/strategy/xpremium/metrics.go
  pkg/strategy/xpremium/strategy.go
Owners: none

xpremium: change bucket scale
  pkg/strategy/xpremium/metrics.go
Owners: none

FIX: check s.Conn is not nil before WriteMessage
  pkg/types/stream.go
Owners: @c9s

feat(service): add delete records by options for position and profit
  pkg/service/position.go
  pkg/service/profit.go
  pkg/strategy/common/profit_fixer.go
Owners: none

📝 update(profit-fixer): USD fee calculation and `RecordPosition` via environment
  pkg/strategy/common/profit_fixer.go
  pkg/strategy/common/profit_fixer_test.go
Owners: none

📝 update(profit-fixer): include strategy and strategy instance ID in profit records
  pkg/strategy/common/profit_fixer.go
Owners: none

✨ feat(migrations): add index on profits for `traded_at` and `symbol`
  migrations/mysql/20251105153420_profits_index_traded_at_symbol.sql
  migrations/sqlite3/20251105153420_profits_index_traded_at_symbol.sql
  pkg/migrations/mysql/main_20251105153420_profits_index_traded_at_symbol.go
  pkg/migrations/sqlite3/main_20251105153420_profits_index_traded_at_symbol.go
Owners: none

FIX: [activeorderbook] fix deadlock issue
  pkg/bbgo/activeorderbook.go
Owners: @c9s

DEBUG: debug state not stuck issue
  pkg/strategy/dca3/open_position.go
  pkg/strategy/dca3/statemachine.go
  pkg/strategy/dca3/sync.go
Owners: none

xpremium: use depth quoting
  config/xpremium.yaml
  pkg/strategy/xpremium/strategy.go
Owners: none

core: fix applyTrade trigger
  pkg/core/tradecollector.go
  pkg/core/tradecollector_test.go
Owners: @c9s

🔄 refactor(profit-fixer): refactor profit fixer initialization to use `NewProfitFixer`
  pkg/strategy/common/profit_fixer.go
  pkg/strategy/common/profit_fixer_test.go
  pkg/strategy/xdepthmaker/strategy.go
  pkg/strategy/xfunding/strategy.go
  pkg/strategy/xmaker/strategy.go
Owners: none

✨ feat(profit-fixer): add profitCurrency to ProfitFixerConfig and update logic to handle profit calculations accordingly
  pkg/strategy/common/profit_fixer.go
  pkg/strategy/common/profit_fixer_test.go
Owners: none

xmaker: add directionDivergence
  pkg/strategy/xmaker/strategy.go
Owners: none

implement query account function
  pkg/exchange/hyperliquid/convert.go
  pkg/exchange/hyperliquid/exchange.go
  pkg/exchange/hyperliquid/futures.go
  pkg/exchange/hyperliquid/hyperapi/futures_get_account_balance_request_requestgen.go
  pkg/exchange/hyperliquid/hyperapi/fututes_get_account_balance_request.go
  pkg/exchange/hyperliquid/hyperapi/get_account_balance_request.go
  pkg/exchange/hyperliquid/hyperapi/get_account_balance_request_requestgen.go
  pkg/exchange/hyperliquid/hyperapi/types.go
Owners: none

🔄 refactor(environment): remove RecordProfit method, not used anymore
  pkg/bbgo/environment.go
Owners: @c9s

xmaker: add d2 metrics
  pkg/strategy/xmaker/metrics.go
  pkg/strategy/xmaker/strategy.go
Owners: none

add query account test case
  pkg/exchange/hyperliquid/convert.go
  pkg/exchange/hyperliquid/exchange_test.go
  pkg/exchange/hyperliquid/hyperapi/futures_get_account_balance_request.go
  pkg/exchange/hyperliquid/hyperapi/futures_get_account_balance_request_requestgen.go
  pkg/exchange/hyperliquid/hyperapi/get_account_balance_request.go
  pkg/exchange/hyperliquid/hyperapi/get_account_balance_request_requestgen.go
  pkg/exchange/hyperliquid/hyperapi/get_trades_history_request.go
  pkg/exchange/hyperliquid/hyperapi/get_trades_history_request_requestgen.go
  pkg/exchange/hyperliquid/testdata/clearinghouseState.json
  pkg/exchange/hyperliquid/testdata/spotClearinghouseState.json
Owners: none

🔄 fix(coinbase): include zero volume in order book update
  pkg/exchange/coinbase/stream_handlers.go
Owners: none

implement query account balances
  pkg/exchange/hyperliquid/exchange.go
  pkg/exchange/hyperliquid/exchange_test.go
  pkg/exchange/hyperliquid/futures.go
Owners: none

chore: fix a large number of spelling issues
  pkg/cmd/hoptimize.go
  pkg/exchange/max/maxapi/v3/subaccount_test.go
  pkg/strategy/grid2/grid_recover.go
  pkg/strategy/liquiditymaker/strategy.go
  pkg/strategy/marketcap/strategy.go
  pkg/strategy/rebalance/strategy.go
  pkg/strategy/xfunding/strategy.go
  pkg/strategy/xfunding/transfer.go
Owners: @kbearXD, @gx578007

FIX: fix session not running issue
  pkg/bbgo/activeorderbook.go
Owners: @c9s

implement query k line function
  pkg/exchange/hyperliquid/convert.go
  pkg/exchange/hyperliquid/convert_test.go
  pkg/exchange/hyperliquid/exchange.go
  pkg/exchange/hyperliquid/exchange_test.go
  pkg/exchange/hyperliquid/gensymbols.go
  pkg/exchange/hyperliquid/hyperapi/get_candles_request.go
  pkg/exchange/hyperliquid/hyperapi/get_candles_request_requestgen.go
  pkg/exchange/hyperliquid/symbols.go
  pkg/exchange/hyperliquid/testdata/candles.json
  pkg/exchange/hyperliquid/types.go
Owners: none

FIX: fix max QueryTrades out of range exception
  pkg/exchange/max/exchange.go
Owners: none

types: fix market map merge
  pkg/types/market.go
Owners: @c9s

xmaker: refactor and improve fee token price update
  pkg/pricesolver/simple.go
  pkg/strategy/xmaker/strategy.go
Owners: none

types: fix FindPair reverse symbol bug
  pkg/types/market.go
Owners: @c9s

rewrite max.QueryWithdrawHistory
  pkg/exchange/max/exchange.go
Owners: none

xalign: provide active transfer window option and extend the default to 48 hours
  pkg/strategy/xalign/detect_transfer.go
  pkg/strategy/xalign/strategy.go
Owners: none

xmaker: pre-check max hedge quantity and redispatch to parent
  pkg/strategy/xmaker/hedgemarket.go
Owners: none

🧪 test(profit_fixer): add tests for quote currency fees
  pkg/strategy/common/profit_fixer_test.go
Owners: none
