Repository c9s/bbgo, changes with the owners that CODEOWNERS names for each.
All owners: @kbearXD, @gx578007, @narumiruna, @c9s

🔧 fix(matching): update Prepare method signature to use BackTestable interface
  pkg/backtest/matching.go
Owners: none

🔧 fix(backtest): require csv config only when it's enabled
  pkg/cmd/backtest.go
Owners: none

refine README with Claude
  README.md
Owners: none

pull out trade ring buffer to types.TradeRingBuffer from xmaker
  pkg/strategy/xmaker/signal/trade.go
  pkg/strategy/xmaker/signal/trade_test.go
  pkg/types/trade_ring_buffer.go
  pkg/types/trade_ring_buffer_test.go
Owners: @c9s

add TradeFrequency
  pkg/types/trade_ring_buffer.go
  pkg/types/trade_ring_buffer_test.go
Owners: @c9s

add CLAUDE.md with project guidance for Claude Code
  CLAUDE.md
Owners: none

🔧 fix(csvsource): add error handling for CSV parsing and remove unused decoder methods for klines
  pkg/datasource/csvsource/csv_errors.go
  pkg/datasource/csvsource/csv_kline_decoder.go
  pkg/datasource/csvsource/csv_kline_reader.go
  pkg/datasource/csvsource/csv_kline_reader_test.go
Owners: none

🔧 fix(csvsource): implement CSV downloading and parsing for multiple exchanges with tests
  pkg/datasource/csvsource/downloader.go
  pkg/datasource/csvsource/downloader_test.go
  pkg/datasource/csvsource/read_klines.go
  pkg/datasource/csvsource/read_klines_test.go
  pkg/datasource/csvsource/tick_downloader.go
  pkg/datasource/csvsource/write_klines.go
Owners: none

🔄 refactor(csvsource): simplify CSVTickDecoder and CSVTickReader for improved readability and maintainability
  pkg/datasource/csvsource/csv_tick_decoder.go
  pkg/datasource/csvsource/csv_tick_reader.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
  pkg/datasource/csvsource/read_ticks.go
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/types.go
Owners: none

🔧 fix(backtest): update CSV file verification and adjust KLine reading logic for improved error handling
  pkg/indicator/v2/volume_profile_test.go
  pkg/service/backtest_csv.go
Owners: none

fix ws coin resolve
  pkg/exchange/hyperliquid/convert.go
  pkg/exchange/hyperliquid/exchange.go
  pkg/exchange/hyperliquid/parse.go
  pkg/exchange/hyperliquid/stream_test.go
Owners: none

🔄 refactor(csvsource): simplify CSVTickDecoder and CSVTickReader for improved readability and maintainability
  pkg/datasource/csvsource/csv_tick_converter.go
  pkg/datasource/csvsource/csv_tick_decoder.go
  pkg/datasource/csvsource/csv_tick_reader.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
  pkg/datasource/csvsource/read_ticks.go
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/types.go
Owners: none

🔧 fix(backtest): update CSV file verification and adjust KLine reading logic for improved error handling
  pkg/indicator/v2/volume_profile_test.go
  pkg/service/backtest_csv.go
Owners: none

add more test
  pkg/exchange/hyperliquid/convert.go
  pkg/exchange/hyperliquid/convert_test.go
  pkg/exchange/hyperliquid/exchange.go
  pkg/exchange/hyperliquid/futures.go
  pkg/exchange/hyperliquid/hyperapi/get_open_orders_request.go
  pkg/exchange/hyperliquid/parse.go
  pkg/exchange/hyperliquid/stream.go
  pkg/exchange/hyperliquid/stream_test.go
Owners: none

fix(tests): add build constraint to CSV reader test files
  pkg/datasource/csvsource/csv_kline_reader_test.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
Owners: none

🔧 fix(tests): resolve path issues in Test_ReadTicksFromCSV
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/testdata/binance/FXSUSDT-ticks-2023-10-29.csv
  pkg/datasource/csvsource/testdata/binance/FXSUSDT/aggTrades/FXSUSDT-2023-11-17.csv
Owners: none

🧪 test(csvsource): skip Test_CSV_Download (test manually instead)
  pkg/datasource/csvsource/downloader_test.go
Owners: none

🔧 fix(volume_profile): fix sorting function compilation error
  pkg/indicator/v2/volume_profile.go
Owners: none

🔧 fix(backtest): fix exchange parameter types in KLines methods
  pkg/backtest/exchange.go
  pkg/service/backtest_csv.go
  pkg/service/backtest_db.go
Owners: none

Squashed commit of the following:
  .gitignore
  doc/topics/back-testing.md
  pkg/backtest/exchange.go
  pkg/bbgo/config.go
  pkg/bbgo/environment.go
  pkg/cmd/backtest.go
  pkg/cmd/pnl.go
  pkg/datasource/csvsource/csv_kline_decoder.go
  pkg/datasource/csvsource/csv_kline_reader.go
  pkg/datasource/csvsource/csv_kline_reader_test.go
  pkg/datasource/csvsource/csv_tick_converter.go
  pkg/datasource/csvsource/csv_tick_decoder.go
  pkg/datasource/csvsource/csv_tick_reader.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
  pkg/datasource/csvsource/read_klines.go
  pkg/datasource/csvsource/read_klines_test.go
  pkg/datasource/csvsource/read_ticks.go
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/testdata/binance/BTCUSDT-1h-2023-11-18.csv
  pkg/datasource/csvsource/testdata/binance/FXSUSDT-ticks-2023-10-29.csv
  pkg/datasource/csvsource/testdata/bybit/FXSUSDT-ticks-2023-10-10.csv
  pkg/datasource/csvsource/testdata/okex/BTC-USDT-aggtrades-2023-11-18.csv
  pkg/datasource/csvsource/tick_downloader.go
  pkg/datasource/csvsource/tick_downloader_test.go
  pkg/datasource/csvsource/types.go
  pkg/datasource/csvsource/write_klines.go
  pkg/exchange/kucoin/convert.go
  pkg/exchange/kucoin/exchange.go
  pkg/exchange/kucoin/generate_symbol_map.go
  pkg/exchange/kucoin/symbols.go
  pkg/indicator/v2/testdata/BTCUSDT-1m-2022-05-06.csv
  pkg/indicator/v2/volume_profile.go
  pkg/indicator/v2/volume_profile_test.go
  pkg/service/backtest_csv.go
  pkg/service/backtest_db.go
  pkg/service/backtest_sql_test.go
  pkg/strategy/grid2/backtest_test.go
  pkg/types/interval.go
  pkg/types/interval_test.go
  pkg/types/time.go
Owners: @c9s, @kbearXD, @gx578007

🔧 fix(backtest): require csv config only when it's enabled
  pkg/cmd/backtest.go
Owners: none

🔧 fix(csvsource): implement CSV downloading and parsing for multiple exchanges with tests
  pkg/datasource/csvsource/downloader.go
  pkg/datasource/csvsource/downloader_test.go
  pkg/datasource/csvsource/read_klines.go
  pkg/datasource/csvsource/read_klines_test.go
  pkg/datasource/csvsource/tick_downloader.go
  pkg/datasource/csvsource/write_klines.go
Owners: none

🔧 fix(matching): update Prepare method signature to use BackTestable interface
  pkg/backtest/matching.go
Owners: none

🔧 fix(tests): update method calls to BacktestService
  pkg/service/backtest_sql_test.go
Owners: none

🔧 fix(csvsource): add error handling for CSV parsing and remove unused decoder methods for klines
  pkg/datasource/csvsource/csv_errors.go
  pkg/datasource/csvsource/csv_kline_decoder.go
  pkg/datasource/csvsource/csv_kline_reader.go
  pkg/datasource/csvsource/csv_kline_reader_test.go
Owners: none

🧪 test(csvsource): skip Test_CSV_Download (test manually instead)
  pkg/datasource/csvsource/downloader_test.go
Owners: none

fix(tests): add build constraint to CSV reader test files
  pkg/datasource/csvsource/csv_kline_reader_test.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
Owners: none

🔧 fix(backtest): update CSV file verification and adjust KLine reading logic for improved error handling
  pkg/indicator/v2/volume_profile_test.go
  pkg/service/backtest_csv.go
Owners: none

🔧 fix(tests): resolve path issues in Test_ReadTicksFromCSV
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/testdata/binance/FXSUSDT-ticks-2023-10-29.csv
  pkg/datasource/csvsource/testdata/binance/FXSUSDT/aggTrades/FXSUSDT-2023-11-17.csv
Owners: none

🔄 refactor(csvsource): simplify CSVTickDecoder and CSVTickReader for improved readability and maintainability
  pkg/datasource/csvsource/csv_tick_converter.go
  pkg/datasource/csvsource/csv_tick_decoder.go
  pkg/datasource/csvsource/csv_tick_reader.go
  pkg/datasource/csvsource/csv_tick_reader_test.go
  pkg/datasource/csvsource/read_ticks.go
  pkg/datasource/csvsource/read_ticks_test.go
  pkg/datasource/csvsource/types.go
Owners: none

CODEOWNERS:

pkg/strategy/grid2 @kbearXD @gx578007
python @narumiruna
pkg/types @c9s
pkg/core @c9s
pkg/bbgo @c9s
